@import "commons";

body {
  background-color: $background;
}

.more-settings__btn{
  z-index: 1;
  position: relative;
  background-color: white;
  &:hover{
      fa-icon{
          color: $primary;
      }
  }
  &:focus{
      fa-icon{
          color: black;
      }
      background-color: $secondary;
  }
}

.more-settings__item{
  &:hover{
      cursor: pointer;
  }
}