<header class="mb-2">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-xxl">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              routerLink="./"
            >
              <fa-icon [icon]="faHome"></fa-icon> Główna
            </a>
          </li>
          <ul class="navbar-nav ms-lg-auto">
            <ng-container *ngIf="this.authService.isLoggedIn(); else logIn">
              <button
                (click)="onLogOut()"
                type="button"
                class="btn btn-primary"
              >
                Wyloguj się
              </button>
            </ng-container>
            <ng-template #logIn>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLink="./logowanie"
                  >Logowanie</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                  routerLink="./rejestracja"
                  >Rejestracja</a
                >
              </li>
            </ng-template>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>
