<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error }}
</div>
<div *ngFor="let answer of answers" class="user-answers">
  <div
    class="question-content d-flex flex-grow-1 flex-column justify-content-center"
  >
    <h3 class="text-center">{{ answer.question.text }}</h3>
    <div
      class="d-flex justify-content-center align-items-center mt-2 mb-3"
      *ngIf="answer.question.code"
    >
      <app-code-editor
        class="code-editor"
        [isReadOnly]="true"
        [code]="answer.question.code"
        [codeLanguage]="answer.question.codeLanguage"
      ></app-code-editor>
    </div>
  </div>

  <ng-container [ngSwitch]="answer.question.answerType">
    <div class="w-100" *ngSwitchCase="'Text'">
      <div class="w-100 mb-3">
        <h6 class="text-center">Odpowiedź uzytkownika:</h6>
        <textarea
          class="form-control answer-text mx-auto"
          id="userAnswerTextarea"
          rows="4"
          [readOnly]="true"
          >{{ answer.value }}</textarea
        >
      </div>
    </div>
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      *ngSwitchCase="'Code'"
    >
      <h6>Kod użytkownika jak odpowiedź:</h6>
      <app-code-editor
        class="code-editor"
        [isReadOnly]="true"
        [code]="answer.code"
        [codeLanguage]="answer.codeLanguage!"
      ></app-code-editor>
      <h6 class="mt-1">Wynik kodu:</h6>
      <pre class="code-result">{{ answer.value }}</pre>
    </div>
    <div
      class="multiple-choice-answer mx-auto"
      *ngSwitchCase="'MultipleChoiceAnswer'"
    >
      <h6 class="text-center">Lista odpowiedzi:</h6>
      <div class="mx-auto">
        <ol class="list-group list-group-numbered">
          <li
            *ngFor="let option of answer.question.multipleChoiceOptions"
            class="list-group-item"
          >
            {{ option }}
          </li>
        </ol>
      </div>
      <h6 class="text-center">Wybrane odpowiedzi:</h6>
      <div>
        <p>{{ answer.value }}</p>
      </div>
    </div>
  </ng-container>
</div>
<div class="rate-completed-quiz my-2">
  <Form
    (ngSubmit)="rateCompletedQuiz()"
    [formGroup]="rateCompletedQuizForm"
    class="rate-completed-quiz__form"
  >
    <div class="form-floating mb-3">
      <input
        formControlName="grade"
        type="number"
        min="1"
        max="5"
        class="form-control"
        id="gradeFloatingInput"
        value="5"
        [ngClass]="{
          'is-invalid': !gradeIsValid
        }"
      />
      <label for="gradeFloatingInput">Ocena</label>
      <div
        *ngIf="!gradeIsValid && grade.errors?.['required']"
        class="invalid-feedback"
      >
        Ocena jest wymagany
      </div>
      <div
        *ngIf="!gradeIsValid && (grade.errors?.['min'] || grade.errors?.['max'])"
        class="invalid-feedback"
      >
        Ocena musi być od 1 do 5
      </div>
    </div>
    <button
      [disabled]="rateCompletedQuizForm.invalid"
      type="submit"
      class="btn btn-primary w-100"
    >
      Zapisz ocenę
    </button>
  </Form>
</div>
