<form
  class="mb-2 d-flex flex-md-row flex-column"
  [formGroup]="teamMemberForm"
  (ngSubmit)="addTeamMember()"
>
  <div class="flex-grow-1">
    <label for="addUserInput" class="visually-hidden"
      >Wpisz e-mail nowego członka</label
    >
    <input
      type="text"
      class="form-control"
      [ngClass]="{
        'is-invalid': emailIsInvalid
      }"
      id="addUserInput"
      placeholder="Wpisz e-mail nowego członka"
      formControlName="email"
    />
    <div
      *ngIf="emailIsInvalid && email.errors?.['required']"
      class="invalid-feedback"
    >
      E-mail jest wymagany
    </div>
    <div
      *ngIf="emailIsInvalid && email.errors?.['email']"
      class="invalid-feedback"
    >
      Niepoprawny adres e-mail
    </div>
  </div>
  <div class="ps-1 mt-md-0 mt-1">
    <div class="btn-group" role="group">
      <button type="submit" class="btn btn-primary" aria-label="Save new name">
        Dodaj
      </button>
      <button
        type="button"
        class="btn btn-secondary"
        aria-label="Cancel name editing"
        (click)="this.stopAddingTeamMember.emit()"
      >
        Anuluj
      </button>
    </div>
  </div>
</form>
