@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


.registration-form {
  width: 240px;
}

@include media-breakpoint-up(sm) {
  .registration-form {
    width: 350px;
  }
}

.registration-form__btn-submit:disabled{
  color: lightgray;
}
