@import "../../../commons";

:host {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.team-name{
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
}

.quiz-name{
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
}
