<div
  #teamMemberDetailsModal
  class="modal fade"
  id="teamMemberDetails-modal"
  tabindex="-1"
  aria-labelledby="teamMemberDetails-modal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="teamMemberDetails-modal">
          Szczegóły użytkownika
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div
          *ngIf="error"
          class="alert alert-danger alert-dismissible fade show mb-1"
          role="alert"
        >
          {{ error }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        <div
          *ngIf="user"
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <img
            src="{{
              user.imagePath
                ? user.imagePath
                : 'assets/user/user-default-image.svg'
            }}"
            class="user__image rounded-circle mb-3"
            alt="User thumbnail"
          />
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-3"
          >
            <h6>Imię</h6>
            <p class="m-0">{{ user.firstName }}</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-3"
          >
            <h6>Nazwisko</h6>
            <p class="m-0">{{ user.lastName }}</p>
          </div>
          <div
            class="d-flex flex-column align-items-center justify-content-center mb-3"
          >
            <h6>Email</h6>
            <p class="m-0">{{ user.email }}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-target="#teamManagement-modal"
          data-bs-toggle="modal"
        >
          Wróć do szczegółów zespołu
        </button>
      </div>
    </div>
  </div>
</div>
