@import "../../../commons";

.team__link{
    text-decoration: none;
    color: black;
    &:hover{
        color: $primary;
    }
}

.team__name{
    height: 48px;
    line-height: 48px;
    white-space: nowrap;
}