@import "../../../commons";

:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form {
  width: 240px;
}

@include media-breakpoint-up(sm) {
  .registration-form {
    width: 350px;
  }
}

.registration-form__btn-submit:disabled{
  color: lightgray;
}
